

#simpleSearch {
	// margin: 1em 1em 0em 0.5em;
  z-index: 100;
	display: block;
	width: 665px;
	position: relative;
	// height: 23px;
	border-radius: 34px;
  min-height: 43px;
	padding: 0 0 0 3px;
	// float: right;
	overflow: hidden;
	border: solid 1px #aaa;
	background: #F6F6F6;
	background: -moz-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);
	background: linear-gradient(to bottom, #F6F6F6 0%, #FFFFFF 100%);
}



.searchInput{
	padding: 0 20px 0 60px;
}
.searchInput-rtl{
	padding: 0 60px 0 20px;
}

#searchInput {
	background: transparent;
	border: none;
  font-family: 'afruz','ardeshir';
	font-size: 14px;
	// vertical-align: top;
	min-height: 38px;
	color: #333;
	width: 94%;
}
#searchInput:focus {
  outline: 0;
}





.btn-keyboard {
  width: 42px;
  margin-left: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}
.btn-keyboard svg {
  // fill: #333;
  color: #6a6969;
  width: 25px;
  height: 25px;
  transition: all .2s ease-out, color .2s ease-out;
}

.btn-keyboard:hover, .btn-keyboard:focus {
  outline: 0;
  box-shadow: none;
}

.btn-keyboard:hover svg,.btn-keyboard:focus svg {
  // fill: #000;
  color: black;
}

.btn-keyboard-dir{
  left: 0;
}
.btn-keyboard-dir-rtl{
  right: 0;
  margin-left: 0;
  margin-right: 12px;
}
.btn-keyboard-active{
  color: #0040b1;
}



.btn-search-dir{
  right: 0;
}
.btn-search-dir-rtl{
  left: 0;
	margin-left: 7px;

}



#submitSearch {
	width: 42px;
  margin-right: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}
#submitSearch svg {
  // fill: #333;
	color: #353535;
  width: 25px;
  height: 25px;
  transition: all .2s ease-out, color .2s ease-out;
}
#submitSearch:hover svg, #submitSearch:focus svg {
  // fill: #000;
  color: black;
}

#submitSearch:focus, #submitSearch:hover {
		outline: 0;
		box-shadow: none;
}






.headeItems{
	right: 0;
	// position: absolute;
	padding: 4px 20px 0 0;
}

.headeItems-rtl{
	left: 0;
	// position: absolute;
	padding: 4px 0 0 20px;
}




@media screen and (max-width: 1100px) {
	#searchInput {
		width: 93%;
	}
	#simpleSearch {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	#searchInput {
		width: 90%;
	}
}

@media screen and (max-width: 350px) {
	#searchInput {
		width: 87%;
	}
}
