.hg-theme-default .hg-button{
  max-width: 70px;
  color: #000;
}

.hg-button-backspace, .hg-button-shift{
  max-width: none !important;
  font-size: 20px;
}






.simple-keyboard{
  font-family: 'afruz', 'ardeshir';
  direction: ltr;
  z-index: 1000000;
  font-size: 16px;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-space {
  min-width: 150px;
  max-width: none;
}

.simple-keyboard.hg-theme-default .hg-button[data-skbtnuid^="numbers-"] {
  width: 33%;
  max-width: none;
}

.simple-keyboard .hg-button-numbers {
  max-width: 80px;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-ent {
  max-width: 80px;
}







@media only screen and (min-width: 700px) {
      .absolute-keyboard{
        position: absolute;
        width: 665px;
        // margin-top: 52px;
        margin: 52px 20px;
        z-index: 2;
        box-shadow: 0 10px 16px 8px rgba(0, 0, 0, 0.4), 0 0 15px 0 rgba(0, 0, 0, 0.19);
      }
      .keyboard_div {
          overflow: hidden;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          height: 185px;
      }
      .keyboard_hide{
        height: 0;
      }
      .absolute-keyboard_hide{
        height: 0;
        box-shadow: 0 0 0 0;
      }

}



@media only screen and (max-width: 700px) {

  .simple-keyboard{
    // transform: translateY(startYposition);
    font-family: 'afruz', 'ardeshir';
    direction: ltr;
    position: absolute;

    bottom: -185px !important;
    left: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  .absolute-keyboard{
    position: fixed;
    width: 0;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1
  }

  .absolute-keyboard .simple-keyboard{
    position: fixed;
  }




  .simple-keyboard_show{
    bottom: 0px !important;
    _::-webkit-full-page-media, _:future, :root .safari_only {
        bottom: 75px !important;
    }
  }
  // @-moz-document url-prefix() {
  //   .simple-keyboard_show{
  //     bottom: 0 !important;
  //   }
  // }


}

@media not all and (min-resolution:.001dpcm) {
      .simple-keyboard{
        bottom: 75px;
      }
}
