



.founded {
	z-index: 100;
	// position: absolute;
	width: 100%;
	display: inline-block;
	padding: 1.25em 1.5em 1.5em 1.5em;
	border-left: 1px solid #a7d7f9;
	background: #FFF;
	line-height: 1.6;
	font-size: 0.875em;
	border-top: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
}


.founded-rtl {
	z-index: 100;
	// position: absolute;
	width: 100%;
	padding: 1.25em 1.5em 1.5em 1.5em;
	border-right: 1px solid #a7d7f9;
	background: #FFF;
	line-height: 1.6;
	font-size: 0.875em;
	border-top: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
}



@media screen and (max-width: 800px) {

	.founded{
		padding: 8px
	}
	.founded-rtl{
		padding: 8px
	}
}
