.headerLinks {
	// text-align: right;
	// display: inline-block;
	width: 100%;
	display: inline-flex;
	padding: 2em 0;
	font-size: 0.72em;
	color: #777;
	letter-spacing: 0.017em;
}
// .headerLinks a{
// 	display: inline-block;
// 	margin: 0 0 0 0.5em;
// }


@media screen and (max-width: 800px) {
	.headerLinks{
		display: block;
		padding: 1em 1.4em;
	}
	.headerLinks-rtl{
		display: block;
		padding: 1em 1.4em;
	}
	.headeItems{
		position: relative;
	}
	.headeItems-rtl{
		position: relative;
	}
	#simpleSearch {
		width: 100%;
	}
}
