.searchItem{
  margin-bottom: 27px;
  width: 600px;
  // font-family: 'afruz','ardeshir';
}

.itemsTitle{
  font-size: 20px;
  line-height: 1.3;
}

.itemsTitle:active, .itemsTitle:visited {
    cursor: pointer;
}

.itemDesc {
    color: #6a6a6a;
    font-size: 14px;
    line-height: 1.57;
    word-wrap: break-word;
}


@media screen and (max-width: 800px) {
	.searchItem {
		width: 100%;
    border-radius: 11px;
    border: 1px solid #dfe1e5;
    padding: 1.25em 1.5em 1.5em 1.5em;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.4);
		// margin: 0;
	}

}
