.searchGrid {
	display: inline-flex;
}
.searchGrid-rtl {
}

.searchBox {
	margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  width: 500px;
	border-radius: 11px;
  border: 1px solid #dfe1e5;
}


@media screen and (max-width: 1100px) {
	.searchGrid {
		display: flex;
  	flex-direction: column-reverse;

	}
	.searchBox{
		margin: 0;
		width: 600px;
		margin-top: 10px;
		margin-bottom: 40px;
	}

}


@media screen and (max-width: 800px) {
	.searchBox {
		border: 0;
		width: 100%;
		margin: 0;
		margin-top: 10px;
		margin-bottom: 30px;
	}

}
