.sidebar {
	float: left;
	width: 10.2em;
	padding: 3px 1.5em 10px 1.3em;
	position: absolute;
}
.sidebar h3 {
	font-size: 0.85em;
	color: #4d4d4d;
	font-weight: normal;
	margin: 0.5em 0 0 0;
	padding: 0.25em 0;
	cursor: default;
	border: 0;
	border-bottom: 1px solid #D8D8D8;
}
.sidebar li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.30em 0;
	font-size: 0.85em;
	word-wrap: break-word;
}







.logo {
	margin-bottom: 5px;
}
.SidebarLogo{
	font-family: 'afruz','ardeshir';
	display: inline-flex;
	padding: 0.8em 0;
	font-size: 1.72em;
	color: #777;
	letter-spacing: 0.017em;
}
.navigation {
	padding: 0.15em 0 0 0.45em;
}





@media screen and (max-width: 800px) {
	.sidebar {
		display: none;
		width: 6em;
		padding: 3px 0.5em 10px 0.5em;
	}
}
