.mainsection {
	margin: 0 0 0 11em;
}
.mainsection-rtl {
	margin:  0 11em 0 0;
}

.wrapAll {
	width: 100%;
}


@media screen and (max-width: 800px) {

	.mainsection {
		position: absolute;
		overflow: hidden;
		min-height: 100%;
		width: 100%;
		margin: 0 0 0 0;
	}
	.mainsection-rtl {
		position: absolute;
		overflow: hidden;
		min-height: 100%;
		width: 100%;
		margin:  0 0 0 0;
	}
}
