
div.articleCover {
	/* margin-bottom: 15px; */
}

div.articleCover img {
	width: 100%;
	height: 40vh;
	object-fit: cover;
}



.article {
	z-index: 100;
	// position: absolute;
	padding: 1.25em 1.5em 1.5em 1.5em;
	border-left: 1px solid #a7d7f9;
	background: #FFF;
	line-height: 1.6;
	font-size: 0.875em;
	border-top: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
}
.article p {
	line-height: 2em;
	margin: 0.5em 0;
}
.article h1 {
	// font-family: 'afruz';
	border-bottom: 1px solid #a2a9b1;
	padding: 0.27em 0px;
	margin-bottom: 0.5em;
}
.article h2 {
	font-size: 1.6em;
	margin: 0.5em 0 0.5em 0;
	// font-family: 'afruz';
	border-bottom: 1px solid #a2a9b1;
	line-height: 1.4em;
	padding: 0.27em 0;
}
.article h3 {
	font-weight: bold;
	font-size: 1.2em;
}
.article p.roleNote {
	padding: 1em 0 0 1.6em;
	font-style: italic;
}



.article-rtl {
	z-index: 100;
	// position: absolute;
	padding: 1.25em 1.5em 1.5em 1.5em;
	border-right: 1px solid #a7d7f9;
	background: #FFF;
	line-height: 1.6;
	font-size: 0.875em;
	border-top: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
}
.article-rtl p {
	line-height: inherit;
	margin: 0.5em 0;
}
.article-rtl h1 {
	// font-family: 'afruz';
	border-bottom: 1px solid #a2a9b1;
	padding: 0.27em 0px;
	margin-bottom: 0.5em;
}
.article-rtl h2 {
	font-size: 1.6em;
	margin: 0.5em 0 0.5em 0;
	// font-family: 'afruz';
	border-bottom: 1px solid #a2a9b1;
	line-height: 1.4em;
	padding: 0.27em 0;
}
.article-rtl h3 {
	font-weight: bold;
	font-size: 1.2em;
}
.article-rtl p.roleNote {
	padding: 1em 0 0 1.6em;
	font-style: italic;
}


p.siteSub {
	font-size: 92%;
}




div.articleRight {
	border: 1px solid #c8ccd1;
	padding: 3px;
	float: right;
	background-color: #f8f9fa;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
	line-height: 1.4em;
	padding: 3px;
	font-size: 94%;
	margin: 0 0 5px 15px;
	text-align: left;
}
div.articleRightInner {
	border: 1px solid #c8ccd1;
	padding: 3px;
	background-color: #f8f9fa;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
