
span.user {
	background-position: left top;
	background-repeat: no-repeat;
	/* background-image: url(img/user-ico.png); */
	padding-left: 15px !important;
}

.contentsHeader {
	// font-family: 'afruz';
	font-weight: bold;
	text-align: center;
}
.hidePanel, .showPanel {
	float: right;
	margin: 0 5px;
	position: absolute;
	right: 20px;
	cursor: pointer;
	color: #0645ad;
	top: 4px;
}


.showPanel {
	display: none;
}
.minimizedPanel .showPanel {
	display: block;
}
.minimizedPanel .hidePanel {
	display: none
}
.minimizedPanel .contentsHeader {
	text-align: left;
}




.contentsPanel {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	font-size: 95%;
	position: relative;
	line-height: 1.7em;
	width: 280px;
	margin-top: 20px;
}
.contentsPanel ul li span {
	display: inline-block;
	margin-right: 8px;
}
.contentsPanel ul li {
}
.contentsPanel ul {
	padding: 0 0 5px 5px;
}
.contentsPanel ul li ul{
}
.contentsPanel ul li ul li {
	padding: 0 0 0 25px;
}
.contentsPanel.minimizedPanel {
	width: 130px;
}



.contentsPanel-rtl {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	font-size: 95%;
	position: relative;
	line-height: 1.7em;
	width: 280px;
	margin-top: 20px;
}
.contentsPanel-rtl ul li span {
	display: inline-block;
	margin-left: 8px;
}
.contentsPanel-rtl ul li {
}
.contentsPanel-rtl ul {
	padding: 0 0 5px 5px;
}
.contentsPanel-rtl ul li ul{
}
.contentsPanel-rtl ul li ul li {
	padding: 0 0 0 25px;
}
.contentsPanel-rtl.minimizedPanel {
	width: 130px;
}



@media screen and (max-width: 550px) {
	.contentsPanel {
		width: auto;
	}
	.contentsPanel-rtl {
		width: auto;
	}
}
