.headerLinks {
	// text-align: right;
	// display: inline-block;
	width: 100%;
	display: inline-flex;
	padding: 2em 0;
	font-size: 0.72em;
	color: #777;
	letter-spacing: 0.017em;
}
// .headerLinks a{
// 	display: inline-block;
// 	margin: 0 0 0 0.5em;
// }









.headeItems{
	right: 0;
	height: 44px;
	// position: absolute;
	padding: 4px 20px 0 0;
}

.headeItems-rtl{
	left: 0;
	height: 44px;
	// position: absolute;
	padding: 4px 0 0 20px;
}

.headeBurger {
	display: none;
}
.headeBurger-rtl {
	display: none;
}
.headeMiniLogo {
	display: none;
}
.headeMiniLogo-rtl {
	display: none;
}
.burgerIcon{
	position: absolute;
}





@media screen and (max-width: 1100px) {
	#searchInput {
		width: 93%;
	}
	#simpleSearch {
		width: 73%;
	}


}


@media screen and (max-width: 800px) {
	.headeMiniLogo {
		display: inline-block;
		position: absolute;
	}
	.headeMiniLogo-rtl {
		display: inline-block;
		position: absolute;
	}

	.headeBurger {
		right: 24px;
		display: inline-block;
		font-size: 20px;
		position: absolute;
	}
	.headeBurger-rtl {
		left: 24px;
		display: inline-block;
		font-size: 20px;
		position: absolute;
	}

	
	.headerLinks{
		display: block;
		padding: 1em 1.4em;
	}
	.headerLinks-rtl{
		display: block;
		padding: 1em 1.4em;
	}
	.headeItems{
		position: relative;
	}
	.headeItems-rtl{
		position: relative;
	}
	#simpleSearch {
		width: 100%;
	}
}
