

.tabs {
}
.tabs ul li a {
	display: block;
	background: transparent;
	font-size: 0.85em;
	padding: 1em 0.5em 0;
	line-height: 2em;
	position: relative;
	top: 1px;
	left: 1px;
	border-bottom: 1px solid #A7D7F9;
}
.tabs ul li a.active {
	background: #FFF;
	border-bottom-color: transparent;
}
.tabs ul {
	display: inline-block;
	background: transparent;
	letter-spacing: 0;
	margin: 0;
	padding: 0 1px 0 0;
}
.tabs ul li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	display: inline-block;
	float: left;
	margin: 0 1px 0 0px;
}
.tabs ul {
}
.tabsLeft {
	line-height: 0;
	float: left;
}
.tabsRight {
	float: right;
	line-height: 0;
}


@media screen and (max-width: 700px) {
	.tabsRight {
		display: none;
	}
}
