.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
	overflow: hidden;
}
#section0{
  z-index: 2;
}
