
#scrollUp {
    position: absolute;
    z-index: 1000;
    color: red;
    width: 100%;
    margin-right: 1px;
    text-align: center;
    overflow: hidden;
}

.scrollUp-rtl {
  width: 99.96%;
}

#scrollUp #rond{
  height: 150px;
  /* border-radius: 2px */
  width: 1px;
  background-color: #ffffff;
  margin: 0 auto;
  animation: anim2 2s infinite;
}


#scrollDown{
  position: absolute;
  border: 2px solid #292929;
  border-radius: 15px;
  width: 24px;
  height: 39px;
  padding: 2px 5px;
  bottom: 3vh;
  z-index: 1;
  /* right: 3vh; */
  /* margin-top: 3.5vh; */
}

#scrollDown #rond{
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #292929;
  margin: 0 auto;
  animation: scrollDown 1.5s infinite;
}

// ===================================================================
// ===================================================================

@keyframes scrollDown {
  60%, 100% {
    opacity: 0;
    margin-top: 22px;
  }
  0% {
    margin-top: 8px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}


@keyframes anim2 {

    40%, 100% {
      opacity: 0;
      transform: translate(-1px, -40px);
    }
    0% {
      transform: translate(-1px, 50px);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
}


// ===================================================================
// ===================================================================

@media only screen and (max-width: 1200px) {
  #scrollUp{
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #scrollDown{
    // display: none;
  }
}
