
.fp-tableCell{
  vertical-align: inherit;
  position: absolute;
  overflow: hidden;
}

.split {
  // height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  overflow-x: hidden;
  /* padding-top: 20px; */
}

/* Control the left side */
.left {
  left: 0;
  position: inherit;
  background-color: #fff;
}

/* Control the right side */
.right {
  right: 0;
  position: inherit;
  background-color: #fff;
}

#scrollable_section{
  // box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.4), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -5px 5px 5px #000;
  position: absolute;
  height: 100vh;
}


#scrollable_Area{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#scrollable_Area::-webkit-scrollbar {
  display: none;
}



.mainCover{
      position: absolute;
      min-width: 50%;
}

.mainCover img{
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.gradientCover{
  position: absolute;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 50%;
  background: linear-gradient(to right, #000000bd, #000000b5, #0202026e);
  -moz-box-shadow:    inset -14px 0 20px #00000080;
  -webkit-box-shadow: inset -14px 0 20px #00000080;
  box-shadow:         inset -14px 0 20px #00000080;
  // background: linear-gradient(to right, #000000bd, #000000bd,#000000b5,#000000b5, #000000b5,#0202026e, #0202026e,#000000bd);
}
.gradientCover p{
  color: #fff;
}
.gradientCover h1{
  color: #fff;
}


.gradientCover-rtl{
  position: absolute;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 50%;
  -moz-box-shadow:    inset 14px 0 20px #00000080;
  -webkit-box-shadow: inset 14px 0 20px #00000080;
  box-shadow:         inset 14px 0 20px #00000080;
  background: linear-gradient(to left, #000000bd, #000000b5, #0202026e);
}
.gradientCover-rtl p{
  color: #fff;
}
.gradientCover-rtl h1{
  color: #fff;
}



.titleCover{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none !important;
}
.titleCover .CArticle{
  font-size: 25px;
}
.titleCover h1{
  margin-top: 8px;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
.titleCover .DArticle{
  font-size: 15px;
  line-height: 2;
  text-align: left;
}


.titleCover .DArticle-rtl{
  font-size: 15px;
  line-height: 2;
  text-align: right;
}


// ===================================================================
// ===================================================================

@media only screen and (max-width: 1200px) {
  .split {
    width: 100%;
  }
  #chosen_article {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .scrollable-element{
    position: relative;
  }
}
