
.contentBox {
  text-align: left;
  float: left;
  width: 33.33%;
  float: left;
  height: 50vh;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  text-overflow: unset;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.contentBox p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 27px;
  overflow: hidden;
  padding: 15px 24px 3px 24px;

}


.contentBox-rtl {
  text-align: right;
  float: right;
  width: 33.33%;
  float: right;
  height: 50vh;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  text-overflow: unset;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.contentBox-rtl p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 27px;
  overflow: hidden;
  padding: 15px 24px 3px 24px;

}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.topBox{
  position: relative;

}
.topBox img{
  width: 100%;
  height: 229px;
  object-fit: cover;
  display: block
}
.imageBox{
  /* position: absolute; */
}
.gradientBox{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(to top, #000000cc, #0202023d, #02020200)
}
.gradientBox h2{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding-bottom: 15px;
}

.bottomBox{
  overflow: hidden;
}




// ===================================================================
// ===================================================================


@media only screen and (min-width: 2000px) {
  .contentBox {
    width: 25%;
  }
  .contentBox-rtl {
    width: 25%;
  }
}

@media only screen and (max-width: 1650px) {
  .contentBox {
    width: 50%;
  }
  .contentBox-rtl {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .contentBox {
    width: 33.33%;
  }
  .contentBox-rtl {
    width: 33.33%;
  }
}
@media only screen and (max-width: 1000px) {
  .contentBox {
    width: 50%;
  }
  .contentBox-rtl {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .contentBox {
    width: 100%;
    height: inherit;
    // max-height: 66vh;
  }
  .contentBox-rtl {
    width: 100%;
    height: inherit;
    // max-height: 66vh;
  }

  .gradientBox h2{
    margin-left: 42px;
    margin-right: 42px;
  }
  .bottomBox{
    padding: 20px;
    padding-top: 0;
  }
}
