.mainHeade{
  width: 100%;
  display: inline-flex;
  padding: 0.5em 3em;
  font-size: 0.72em;
  color: #777;
  top: 0;
  position: absolute;
  letter-spacing: 0.017em;
}
.mainHeadeLogo{
  display: inline-flex;
  padding: 0.8em 0;
  font-size: 1.72em;
  color: #777;
  letter-spacing: 0.017em;
  font-family: 'afruz','ardeshir';
}
.mainHeadeLang{
  padding: 0.8em 0;
  margin-left: auto;
  margin-right: 0;
  font-size: 1.72em;
  color: #777;
  letter-spacing: 0.017em;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.mainHeadeLang:hover, .mainHeadeLang:focus {
  outline: 0;
  box-shadow: none;
}


.mainHeadeLang-rtl{
  padding: 0.8em 0;
  margin-left: 0;
  margin-right: auto;
  font-size: 1.72em;
  color: #777;
  letter-spacing: 0.017em;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.mainHeadeLang-rtl:hover, .mainHeadeLang-rtl:focus {
  color: black;
  outline: 0;
  box-shadow: none;
}



.modal {
  z-index: 10000; /* Sit on top */
  width: 100%; /* Full width */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  min-height: -webkit-fill-available;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  padding: 15px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.hidden_modal {
    visibility: hidden;
    opacity: 0;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  display: grid;
  z-index: 10;
}

.closeModal{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: 'afruz','ardeshir';
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
}

.lang_link{
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  color: black;
  padding: 10px;
  font-family: 'afruz','ardeshir';
}

.link_selected{
  background-color: #eee;
}


// ===================================================================
// ===================================================================

@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 700px) {

}
