.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input:focus {
  outline: 0;
}

[dir="rtl"] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  opacity: .5;
}



/*=====  End of Choices  ======*/


.search_section {
  min-height: -webkit-fill-available;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  /* font-family: 'Poppins', sans-serif; */
  /* background: url("../images/Searchs_004.png"); */
  background-size: cover;
  background-position: center center;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.search_section form {
  width: 100%;
  max-width: 725px;
}

.search_section form legend {
  width: 100%;
  font-size: 36px;
  color: #000;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.search_section form .inner-form {
  width: 100%;
  margin-bottom: 17px;
}

.search_section form .inner-form .input-field {
  width: 100%;
  position: relative;
}

.search_section form .inner-form .input-field .choices {
  margin-bottom: 0;
}

.search_section form .inner-form .input-field .choices .choices__inner {
  min-height: 53px;
  width: 100%;
  background: transparent;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #666;
  border-radius: 34px;
  /* box-shadow: 10px 10px 5px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}


.search_section form .inner-form .input-field .choices .choices__inner .choices__input {
  width: 100%;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  margin-bottom: 0;
  font-family: 'afruz','ardeshir';
}







.search_section form .inner-form .input-field .btn-search {
  width: 42px;
  margin-right: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

.search_section form .inner-form .input-field .btn-search svg {
  // fill: #333;
  color: #353535;
  width: 25px;
  height: 25px;
  transition: all .2s ease-out, color .2s ease-out;
}

.search_section form .inner-form .input-field .btn-search:hover, .search_section form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.search_section form .inner-form .input-field .btn-search:hover svg, .search_section form .inner-form .input-field .btn-search:focus svg {
  // fill: #000;
  color: black;
}








.choices__inner-dir{
  padding: 9px 70px 12px 60px
}
.choices__inner-dir-rtl{
  padding: 9px 60px 12px 70px;
}


// ===================================================================
// ===================================================================

@media only screen and (max-width: 1200px) {
  .search_section {
    padding: 70px
  }
  .search_section form {
    margin-top: -100px;
  }
}
@media only screen and (max-width: 700px) {
  .search_section {
    padding: 30px
  }
  .search_section form legend {
    font-size: 32px;
  }
}
