@font-face {
  font-family: 'afruz';
  src: url("/fonts/afruz.ttf") format('truetype');
}
@font-face {
  font-family: 'ardeshir';
  src: url("/fonts/Ardeshir.ttf") format('truetype');
	// unicode-range: U+10B00, U+10B3F;
}
html {
	font-family: 'afruz','ardeshir';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}



.newbidi{
	direction:rtl;
	unicode-bidi:bidi-override;
}

.is_unicode {
  font-family: 'ardeshir', 'roboto' !important;
}
